body {
    margin: 0;
    background-image: url(fond.png);
}

header {
    background-color: #25B3B4;
    padding: 4px 1px 5px;
    position: relative;
    margin-top: 60px;
    border: 3px solid #0d8b8b;
}

nav {
    padding-bottom: 0px;
    padding-top: 0px;
}

.ul {
    text-align: center;
}

li {
    display: inline;
    padding: 14px;
    padding-bottom: 10px;
    position: sticky;
    font-size: 1em;
}

a {
    color: white;
    text-decoration: none;
}

.img {
    position: relative;
    padding-left: 590px;
    padding: 10px 0px 20px;
    margin-left: 650px;
    width: 120px;
    right: 25px;
}

.TITRE {
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    color: black
}

.titre {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    font-size: 2em;
    font-weight: 400;
    color: rgb(88, 87, 87);
}

span {
    color: #25B3B4;
}

.section2 {
    background-color: #a6f1f1;
    position: absolute;
    right: 463px;
    width: 50%;
    height: 1150px;
    margin-left: 149px;
    margin-right: -54px;
}

.titre2 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: rgb(88, 87, 87);
    margin-bottom: 0px;
}

.lorem {
    word-spacing: 2px;
    margin-right: 50px;
    text-align: left;
    margin-left: 235px;
    padding-left: 60px;
    margin-bottom: 20px;
    position: relative;
    right: 190px;
    font-size: smaller;
    width: 50%;
}

.main2 {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    margin-left: 30px;
    margin-right: 90px;
}

.rcp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.spn2 {
    clear: both;
}

.para {
    margin-left: 60px;
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom: 20px;
    color: rgb(88, 87, 87);
}

button {
    background-color: #25B3B4;
    color: white;
    margin-bottom: 20px;
    margin-left: 171px;
    border: none;
    border-radius: 3px;
    padding: 10px;
}

.div1 {
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 15px;
    width: 50%;
    position: relative;
    left: -10px;
}

.section3 {
    padding: 20px 20px 30px;
}

.div2 {
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 15px;
    width: 50%;
    position: relative;
    left: 300px;
    bottom: 960px;
}

.section3 {
    position: relative;
    left: 725px;
    background-color: #16bbbb;
    width: 20%;
    height: 50%;
    margin-left: 10px;
    border: #0d8b8b solid 4px;
}

.span3 {
    color: rgb(209, 205, 205);
    font-weight: 600;
}

.lorem2 {
    color: white;
}

.date {
    color: rgb(209, 205, 205);
}

footer {
    position: relative;
    top: 7px;
    text-align: center;
}

.img4 {
    width: 40px;
    position: relative;
    right: 65px;
    top: 11px;
}

u {
    color: rgb(37, 96, 224);
}

.vignette {
    position: relative;
    left: 435px;
    bottom: 1100px;
}

.events {
    color: white;
    font-weight: 600;
    font-size: 40pxpx;
}

ion-icon {
    color: #16bbbb;
}

.ionicon2 {
    color: rgb(128, 122, 122);
}

.ionicon3 {
    color: white;
}

.text3 {
    font-size: 0.6em;
}

.text2 {
    font-size: 0.6em;
}